@charset "UTF-8";

@import 'overrides';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@400;500;700&family=Oswald:wght@300;400;600&display=swap');

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* Base Styles */
@import 'abstracts/index.scss';
@import 'base/index.scss';
@import 'layout/index.scss';

/* Component Styles */
@import 'common-components/index.scss';
@import 'components/index.scss';

@import 'vendors/index.scss';

[class*='parallax-'],
[parallax-elem] {
  transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1), opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.parallax-elems {
  position: absolute;
  top: 4vw;
  left: 15vw;
  z-index: 1;
  min-width: 100%;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  span {
    position: relative;
    font-family: $ff-gilroy;
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    font-size: 15rem;
    color: rgba($color: #fff, $alpha: 0.65);
  }
}
