$fontSource: '../fonts/';

$ff-serif: 'Playfair Display', serif;
$ff-sans-serif-2: 'Oswald', 'Helvetica Neue', Helvetica, sans-serif;
$ff-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-gilroy: 'Gilroy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-avant-garde: 'Avant Garde', sans-serif;

$sectionGutters: 5rem;

$duration: 300ms;
