.reservation-summary {
  &-block {
    padding: 1rem 2rem;
    background-color: $colors--dirty-white;

    @include media-breakpoint-up(lg) {
      padding: 2rem;
      background-color: rgba($colors--black, $alpha: 0.0125);
      box-shadow: 0 0 1px rgba($colors--black, 0.5);
    }

    > .row {
      @include media-breakpoint-up(lg) {
        ~ .row {
          position: relative;
          padding-top: 1.5rem;

          &::before {
            content: '';
            position: absolute;
            left: 1.5rem;
            right: 1.5rem;
            border-top: 1px solid rgba($colors--black, 0.125);

            top: 0;
          }
        }
      }

      + .row {
        margin-top: 1.5rem;
      }
    }
  }

  .continue-button {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 1.5rem;

    font-size: 1.4rem;
    color: $colors--white;

    @include media-breakpoint-up(lg) {
      padding: 2rem 1rem;
    }
  }

  @include media-breakpoint-down(md) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 10px rgba($colors--black, $alpha: 0.125);

    [res-trigger] {
      background-color: $colors--dirty-white;
      width: 100%;

      margin-left: 0;
      margin-right: 0;
      box-shadow: 0 0 4px rgba($colors--black, $alpha: 0.25);
    }

    &-block {
      max-height: calc(100vh - (var(--hh) + var(--rth)));
      height: 100%;
      overflow-y: auto;
    }

    .fal {
      transition: transform 350ms;
    }

    &:not(.is-shown) {
      display: flex;
      flex-flow: wrap;

      .reservation-summary-block {
        display: none;
      }
    }

    &.is-shown {
      top: var(--hh);

      [res-trigger] {
        .fal {
          transform: rotate(-180deg);
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 0;
    margin-top: 3rem;
  }
}
