.search-widget {
  position: relative;
  background-color: rgba($colors--black, 0.675);
  color: $colors--white;
  z-index: 9;

  @include media-breakpoint-down(sm) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &-block {
      &:not(.is-shown) {
        > * {
          &:not(.search-info) {
            display: none;
          }
        }
      }

      &.is-shown {
        > * {
          &.search-info {
            display: none;
          }
        }
      }
    }

    .form-control {
      border-bottom: 1px solid $colors--white !important;
      line-height: 2;
    }
  }

  @include media-breakpoint-up(md) {
    $borderColor: rgba($colors--black, 0.2);

    color: $colors--black;
    background-color: rgba($colors--black, 0.0125);
    box-shadow: 0 0 1px rgba($colors--black, 0.5);

    .search-info {
      display: none;
    }

    .destination {
      border-right: 1px solid $borderColor;
      border-left: 1px solid $borderColor;
    }

    .dates {
      border-right: 1px solid $borderColor;

      .row {
        > * {
          + * {
            border-left: 1px solid $borderColor;
          }
        }
      }
    }
  }

  &-block {
    @extend .container;

    display: flex;
    flex-wrap: wrap;

    > * {
      position: relative;
      min-height: 1px;
      width: 100%;
      max-width: 100%;

      &.destination {
        padding: 1rem;

        @include media-breakpoint-up(md) {
          width: 36%;
        }
      }

      &.dates {
        padding: 1rem;

        .row {
          position: relative;
        }

        @include media-breakpoint-up(md) {
          width: 30%;
        }
      }

      &.guests {
        padding: 1rem;

        @include media-breakpoint-up(md) {
          width: 20%;
        }
      }

      &.submit {
        flex-basis: 0;
        flex-grow: 1;

        > .btn--green {
          display: flex !important;
          align-items: center;
          justify-content: center;

          font-size: 1.4rem;
          font-weight: 400;

          @include media-breakpoint-down(sm) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }

          @include media-breakpoint-up(md) {
            height: 100%;
          }
        }
      }
    }

    .form-control {
      background-color: transparent;
      border-color: transparent;
      color: $colors--white;
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      height: auto;

      @include media-breakpoint-up(md) {
        color: $colors--black;
      }

      &::placeholder {
        color: $colors--white;

        @include media-breakpoint-up(md) {
          color: $colors--black;
        }
      }
    }
  }

  &-title {
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1.125rem * 0.05;
    color: darken($colors--white, 7.5%);
    padding-bottom: 1rem;

    @include media-breakpoint-between(md, lg) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include media-breakpoint-up(md) {
      color: lighten($colors--black, 7.5%);
    }
  }
}

.has-arrow-down {
  position: relative;

  &:after {
    content: '\f078';
    font-family: 'Font Awesome 5 Pro';
    font-size: 1.25rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.popover-trigger {
  display: block;
  cursor: pointer;

  &.has-arrow-down {
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  + .popovers {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1.15rem;
    background-color: $colors--white;
    padding: 2rem;
    border: 1px solid rgba($colors--black, 0.25);
    z-index: 99;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    transition: all 350ms;
    color: $colors--black;

    .minus-plus {
      margin-top: 1rem;

      .fal {
        padding: 1rem;
        font-size: 2rem;
      }

      input {
        color: $colors--black;
        text-align: center;
      }
    }

    &:not(.is-shown) {
      opacity: 0;
      z-index: -1;
      visibility: hidden;
    }
  }
}
