a {
  transition: color 350ms;
  cursor: pointer;

  &:not(:hover) {
    color: color(primary, buttonTextColor);
  }

  &:hover {
    color: color(primary, buttonHoverColor);
  }
}

.menu-trigger {
  &.is-active {
    > * > div {
      width: 2.7rem;

      &:nth-child(1) {
        transform: rotate(-45deg);
        margin-top: 0.7rem;
      }

      &:nth-child(2) {
        opacity: 0;
        margin-top: 0.7rem;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
        margin-top: 0.7rem;
      }
    }
  }

  &-button {
    width: 2.5rem;
    padding-bottom: 0.4rem;
    display: inline-block;
    cursor: pointer;

    > {
      div {
        float: right;
        margin-top: 0.4rem;
        width: 100%;
        border-top: 2px solid;
        border-color: inherit;
        transform-origin: right center;
        transition: all 0.33s cubic-bezier(0.33, 0, 0.2, 1);

        &:nth-child(1) {
          transform-origin: right top;
        }

        &:nth-child(3) {
          transform-origin: right bottom;
        }
      }
    }
  }
}

a.book-now {
  &-button {
    display: inline-block;
    padding: 1rem;
    background-color: $colors--black;
    color: $colors--white;
    font-weight: bold;
    font-size: 1.2rem;

    @include media-breakpoint-up(md) {
      padding: 2rem;
    }
  }
}

.btn {
  &--transparent {
    position: relative;
    overflow: hidden;
    border: 1px solid $colors--black;
    font-size: 1.4rem;
    border-radius: 0;
    padding: 2rem 5rem;
    letter-spacing: 0.1rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $colors--black;
      transform: translateX(-120%);
      transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1), opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
      will-change: transform, opacity;
      backface-visibility: hidden;
    }

    &:hover {
      color: $colors--white;

      span {
        position: relative;
        color: $colors--white;
        transition: color 150ms;
        z-index: 2;
      }

      &:before {
        transform: translateX(0);
      }
    }
  }

  &--black {
    position: relative;
    overflow: hidden;
    font-size: 1.4rem;
    border-radius: 0;
    padding: 2rem 5rem;
    letter-spacing: 0.1rem;
    background-color: $colors--black;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $colors--white;
      z-index: 1;
      transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1), opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
      will-change: transform, opacity;
      backface-visibility: hidden;
      transform: translateX(-125%);
    }

    span {
      position: relative;
      color: $colors--white;
      z-index: 2;
      transition: color 350ms;
    }

    &:hover {
      &::before {
        transform: translateX(0%);
      }

      span {
        color: $colors--black;
      }
    }
  }

  &--sm {
    padding: 1rem 2.5rem;
  }
}
