%ext-icons {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  font-style: normal;
  width: 1.4rem;
  height: 1.4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.edit-icon {
  @extend %ext-icons;
  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M493.255 56.236l-37.49-37.49c-24.993-24.993-65.515-24.994-90.51 0L12.838 371.162.151 485.346c-1.698 15.286 11.22 28.203 26.504 26.504l114.184-12.687 352.417-352.417c24.992-24.994 24.992-65.517-.001-90.51zM164.686 347.313c6.249 6.249 16.379 6.248 22.627 0L368 166.627l30.059 30.059L174 420.745V386h-48v-48H91.255l224.059-224.059L345.373 144 164.686 324.687c-6.249 6.248-6.249 16.378 0 22.626zm-38.539 121.285l-58.995 6.555-30.305-30.305 6.555-58.995L63.255 366H98v48h48v34.745l-19.853 19.853zm344.48-344.48l-49.941 49.941-82.745-82.745 49.941-49.941c12.505-12.505 32.748-12.507 45.255 0l37.49 37.49c12.506 12.506 12.507 32.747 0 45.255z'%3E%3C/path%3E%3C/svg%3E");
}

.remove-icon {
  @extend %ext-icons;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'%3E%3C/path%3E%3C/svg%3E");
}

.icons {
  display: inline-block;
  font-style: normal;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  min-width: 4rem;
  vertical-align: middle;

  &.money-order-icon {
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2rem;

    // background-image: url($imagePath + '/svg/money-order-icon.svg');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 415.18'%3E%3Ctitle%3EVarlık 2%3C/title%3E%3Cg id='katman_2' data-name='katman 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath d='M371.43,167.85A106.76,106.76,0,1,0,478.19,274.61,106.88,106.88,0,0,0,371.43,167.85Zm0,198.52a91.76,91.76,0,1,1,91.76-91.76A91.86,91.86,0,0,1,371.43,366.37Z'/%3E%3Cpath d='M371.43,213.4a7.5,7.5,0,0,0,7.5-7.5v-3.43a7.5,7.5,0,1,0-15,0v3.43A7.5,7.5,0,0,0,371.43,213.4Z'/%3E%3Cpath d='M417.14,218.29l-2.43,2.43a7.5,7.5,0,0,0,10.61,10.61l2.43-2.43a7.5,7.5,0,0,0-10.61-10.61Z'/%3E%3Cpath d='M443.57,267.11h-3.43a7.5,7.5,0,0,0,0,15h3.43a7.5,7.5,0,1,0,0-15Z'/%3E%3Cpath d='M302.72,267.11h-3.43a7.5,7.5,0,0,0,0,15h3.43a7.5,7.5,0,0,0,0-15Z'/%3E%3Cpath d='M425.32,317.89a7.5,7.5,0,0,0-10.61,10.61l2.43,2.43a7.5,7.5,0,0,0,10.61-10.61Z'/%3E%3Cpath d='M371.43,335.82a7.5,7.5,0,0,0-7.5,7.5v3.43a7.5,7.5,0,0,0,15,0v-3.43A7.5,7.5,0,0,0,371.43,335.82Z'/%3E%3Cpath d='M317.54,317.89l-2.43,2.43a7.5,7.5,0,0,0,10.61,10.61l2.43-2.43a7.5,7.5,0,1,0-10.61-10.61Z'/%3E%3Cpath d='M325.72,218.29a7.5,7.5,0,0,0-10.61,10.61l2.43,2.43a7.5,7.5,0,1,0,10.61-10.61Z'/%3E%3Cpath d='M391.87,267.11H378.93V235a7.5,7.5,0,0,0-15,0v39.58a7.5,7.5,0,0,0,7.5,7.5h20.44a7.5,7.5,0,0,0,0-15Z'/%3E%3Cpath d='M483.11,189.35V63.27A21.29,21.29,0,0,0,461.84,42H440.23V21.27A21.3,21.3,0,0,0,419,0H21.27A21.29,21.29,0,0,0,0,21.27V225.49a21.29,21.29,0,0,0,21.27,21.27H42.89v20.73a21.29,21.29,0,0,0,21.27,21.27h48.09a7.5,7.5,0,0,0,0-15H64.16a6.27,6.27,0,0,1-6.27-6.27V246.76H233.64a140.55,140.55,0,0,0-2.77,27H142.24a7.5,7.5,0,0,0,0,15h89.33c7.12,70.89,67.13,126.42,139.86,126.42a139.57,139.57,0,0,0,82.12-26.48,7.5,7.5,0,0,0-8.77-12.17,125.67,125.67,0,1,1,21-19A7.5,7.5,0,1,0,477,367.39a140.4,140.4,0,0,0,6.09-178ZM258,191.76H123.38a68.38,68.38,0,0,1,0-136.76h26.8a7.5,7.5,0,0,0,0-15h-26.8a83.38,83.38,0,0,0,0,166.76h125a139.28,139.28,0,0,0-10.81,25H21.27A6.27,6.27,0,0,1,15,225.49V21.27A6.27,6.27,0,0,1,21.27,15H419a6.28,6.28,0,0,1,6.28,6.27V144.75a139.25,139.25,0,0,0-26.09-8A83.41,83.41,0,0,0,316.84,40H180.17a7.5,7.5,0,0,0,0,15H316.85a68.34,68.34,0,0,1,67.44,79.64c-4.23-.39-8.52-.6-12.86-.6A140.47,140.47,0,0,0,258,191.76Zm182.28-39.69V57h21.61a6.27,6.27,0,0,1,6.27,6.27V172.66a141.89,141.89,0,0,0-27.88-20.6Z'/%3E%3Cpath d='M230.11,115.89c-1-.34-2-.7-3-1.06V95.64l.15,0A7.4,7.4,0,0,0,232.9,82a35.24,35.24,0,0,0-5.75-1.88V76.8a7.5,7.5,0,1,0-15,0v3.5a23.23,23.23,0,0,0-16.6,18.4c-1.52,8.08,1.12,15.91,6.89,20.44a49.75,49.75,0,0,0,9.71,5.74v26.56c-2.43-.49-4.49-1.5-7.54-3.5a7.5,7.5,0,0,0-10.84,3,7.65,7.65,0,0,0,2.83,9.72c5.87,3.81,10.25,5.37,15.55,6V170a7.5,7.5,0,0,0,15,0v-4.12a27.94,27.94,0,0,0,19.7-22.07c2.09-12.4-4.64-23.6-16.74-27.88Zm-18.41-8.55c-1.31-1-1.87-3.38-1.41-5.86a9.89,9.89,0,0,1,1.86-4.13v10.33l-.45-.34Zm20.36,33.95a13,13,0,0,1-4.91,8.11V131A9.45,9.45,0,0,1,232.06,141.29Z'/%3E%3Cpath d='M328,115.88H284.66a7.5,7.5,0,0,0,0,15H328a7.5,7.5,0,0,0,0-15Z'/%3E%3Cpath d='M155.56,115.88H112.25a7.5,7.5,0,0,0,0,15h43.31a7.5,7.5,0,0,0,0-15Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &.credit-card-icon {
    min-width: 2.25rem;
    width: 2.25rem;
    height: 2rem;

    // background-image: url($imagePath + '/svg/credit-card-icon.svg');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 363.95'%3E%3Ctitle%3EVarlık 1%3C/title%3E%3Cg id='katman_2' data-name='katman 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath d='M487.33,0H24.67A24.74,24.74,0,0,0,0,24.67V339.28A24.74,24.74,0,0,0,24.67,364H487.32A24.74,24.74,0,0,0,512,339.28V24.67A24.74,24.74,0,0,0,487.33,0ZM18.51,24.67a6.24,6.24,0,0,1,6.16-6.16H487.32a6.24,6.24,0,0,1,6.17,6.16V55.52h-475Zm475,314.61a6.24,6.24,0,0,1-6.17,6.16H24.67a6.24,6.24,0,0,1-6.16-6.16V148.05h475Zm0-209.74h-475V74h475v55.52Z'/%3E%3Cpath d='M416.39,209.73a52.27,52.27,0,0,0-37,15.3,52.44,52.44,0,1,0,0,74.27,52.43,52.43,0,1,0,37-89.57Zm0,86.37a33.69,33.69,0,0,1-23.95-9.91,18.53,18.53,0,0,0-26.13,0,33.93,33.93,0,1,1,0-48.05,18.51,18.51,0,0,0,26.13,0,33.93,33.93,0,1,1,23.95,58Z'/%3E%3Cpath d='M203.57,228.24h-148a9.26,9.26,0,1,0,0,18.51h148a9.26,9.26,0,0,0,0-18.51Z'/%3E%3Cpath d='M123.39,271.42H55.52a9.26,9.26,0,1,0,0,18.51h67.87a9.26,9.26,0,0,0,0-18.51Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &[style*=air-conditioner-icon] {
    width: 4rem;
    height: 2.5rem;
  }

  &[style*=bathtub-icon] {
    height: 2rem;
  }

  &[style*=tv-icon] {
    height: 2.5rem;
    
  }

  &[style*=coffee-maker-icon] {
    height: 2.5rem;
    
  }

  &[style*=wifi-icon] {
    height: 2.5rem;
    
  }
}
