.img {
  position: relative;
  overflow: hidden;

  &.standart {
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border: none;
    transition: all $duration 150ms;

    [parallax-elem] {
      transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1), opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1);
      will-change: transform, opacity;
      backface-visibility: hidden;
    }

    &.lazy {
      &:not(.lazy-loaded) {
        filter: blur(20px);
        transform: scale(1.1);
      }
    }
  }
}
