.form-control {
  font-size: 1.3rem;
  border-radius: 0;
  border-color: rgba($colors--light-grey, 0.5);

  &[readonly] {
    background-color: transparent;
    cursor: pointer;
  }

  &[class*=validation-error] {
    border-color: $colors--red !important;
  }

  + [class*=field-validation] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.125rem;
    color: $colors--red;
    transform: translate(-225%,-100%);
    line-height: 1;
  }
}

.order--1 {
  order:-1 !important;
}

select {
  appearance: none;
  padding-right: calc(2.5rem + 1.25rem) !important;

  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='currentColor' d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 1.25rem);
  background-size: 1.25rem;
  background-repeat: no-repeat;

  &.white {
    background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='white' d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.date-input {
  position: relative;

  &:after {
    content: '\f073';
    font-family: 'Font Awesome 5 Pro';
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-control {
  &-block {
    position: relative;

    &.minus-plus {
      input {
        position: relative;
        z-index: 2;

        &[readonly] {
          background-color: transparent;
        }
      }

      .fal {
        font-size: 3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: rgba($colors--black, 0.5);
        transition: color 350ms;
        z-index: 3;
        padding: 1.75rem;

        &:hover {
          color: $colors--black;
        }

        &:active {
          transform: translateY(-50%) scale(0.875);
        }

        &.fa-minus {
          left: 0;
        }

        &.fa-plus {
          right: 0;
        }
      }
    }
  }
}

.custom-checkbox {
  + * {
    margin-top: 1rem;
  }

  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    left: -9999px;

    + label {
      position: relative;
      padding-left: 1.8rem + 1rem;
      padding-top: 0.375rem;
      font-size: 1.25rem;
      letter-spacing: 1.25rem * 0.01;
      cursor: pointer;
      user-select: none;
      color: rgba($colors--black, 0.875);

      &:before {
        content: '';
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        top: 3px;
        left: 0;
        border: 1px solid rgba($colors--light-grey, 0.875);
        background-color: rgba($colors--light-grey, 0.0375);
        border-radius: 3px;

        transition: background-color 350ms;
      }

      &:after {
        content: '\f00c';

        position: absolute;
        top: 3px;
        left: 3px;

        font-size: 1.3rem;
        font-family: 'Font Awesome 5 Pro';
        color: $colors--white;
        opacity: 0;
        transition: opacity 350ms;
      }
    }

    &:checked {
      + label {
        &:before {
          background-color: $colors--blue;
          border-color: $colors--blue;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.custom-radio {
  input[type='radio'] {
    position: absolute;
    left: -9999px;

    + label {
      position: relative;
      font-size: 1.4rem;
      padding-left: 1.8rem + 1rem;
      cursor: pointer;

      &:before {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $colors--white;
        border: 1px solid rgba($colors--warm-grey, 0.5);
        box-shadow: inset 0 1px 1px 0 rgba($colors--black, 0.25);
        border-radius: 50%;
      }
    }

    &:checked {
      + label {
        &:before {
          background-color: $colors--blue;
        }

        &::after {
          content: '';
          position: absolute;

          top: (2rem - 0.8rem) / 2;
          left: (2rem - 0.8rem) / 2;

          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          background-color: $colors--white;
          border: 1px solid white;
        }
      }
    }
  }
}
