.form-control {
  font-size: 1.4rem;
  border-radius: 0;
  border-color: rgba($colors--black, 0.5);

  &[readonly] {
    background-color: transparent;
  }
}

select {
  appearance: none;
  padding-right: calc(2.5rem + 1.25rem) !important;

  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='currentColor' d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 1.25rem);
  background-size: 1.25rem;
  background-repeat: no-repeat;

  &.white {
    background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='white' d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.date-input {
  position: relative;

  &:after {
    content: '\f073';
    font-family: 'Font Awesome 5 Pro';
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-control {
  &-block {
    position: relative;

    &.minus-plus {
      input {
        position: relative;
        z-index: 2;

        &[readonly] {
          background-color: transparent;
        }
      }

      .fal {
        font-size: 3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: rgba($colors--black, 0.5);
        transition: color 350ms;
        z-index: 3;
        padding: 1.75rem;

        &:hover {
          color: $colors--black;
        }

        &:active {
          transform: translateY(-50%) scale(0.875);
        }

        &.fa-minus {
          left: 0;
        }

        &.fa-plus {
          right: 0;
        }
      }
    }
  }
}
