.offset-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: $colors--white;

  display: flex;
  flex-wrap: wrap;
  transition: opacity 350ms linear;

  &:not(.is-shown) {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }

  @include media-breakpoint-down(sm) {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  > * {
    position: relative;
    min-height: 1px;
    width: 100%;
    max-width: 100%;
  }

  [data-dismiss] {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    line-height: 1;
    z-index: 9;
    cursor: pointer;
    display: inline-block;
    width: auto;
    filter: drop-shadow(1px 0px 1px rgba($colors--white, 1));

    color: rgba($colors--black, 0.5);
    transition: color 350ms;

    &:hover {
      color: $colors--black;
    }
  }

  &__text {
    background-color: rgba($colors--black, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 0 rgba($colors--black, 0.5);

    #typewriter {
      max-width: 98%;
      font-family: $ff-serif;
      font-size: 1.8rem;
      letter-spacing: 1.8rem * 0.025;

      @include media-breakpoint-up(md) {
        max-width: 80%;
        font-size: 2.125rem;
        letter-spacing: 2.125rem * 0.025;
      }

      span {
        font-weight: bold;
        background: $colors--red;
        transition: 0.5s;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .title {
      font-size: 2.5rem;
      letter-spacing: 2.5 * 0.05;

      @include media-breakpoint-down(sm) {
        font-size: 3.5rem;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 2rem;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 29%;
      width: 29%;
      max-width: 29%;

      .title {
        font-size: 3.5vw;
        letter-spacing: 3.5vw * 0.05;
      }
    }
  }

  &__col {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .book-block {
      max-width: 325px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;

      @include media-breakpoint-up(lg) {
        max-width: vw(500, 1920);
      }

      .form-control {
        font-family: $ff-gilroy;
        font-weight: lighter;

        border-left: none;
        border-top: none;
        border-right: none;
        border-radius: 0;
        border-color: rgba($colors--black, 0.5);
        text-align: center;
        cursor: pointer;
        transition: color 350ms, border-color 350ms;

        &.promotion-code {
          transition: all 500ms !important;

          &:not(:focus) {
            border-bottom-color: transparent;
            text-transform: capitalize;

            &::placeholder {
              font-family: $ff-sans-serif-2;
              font-size: 2rem;
              font-weight: 300;
              letter-spacing: 2rem * 0.01;
              color: $colors--black;

              @include media-breakpoint-up(md) {
                font-size: 3.5rem;
                letter-spacing: 3.5rem * 0.1;
              }
            }
          }

          &:focus {
            &::placeholder {
              color: rgba($colors--black, 0);
            }
          }
        }

        @at-root .book-block input.form-control {
          letter-spacing: 2.5rem * 0.05;
          font-size: 2.5rem;

          @include media-breakpoint-up(md) {
            letter-spacing: 3.5rem * 0.05;
            font-size: 3.5rem;
          }
        }

        @at-root .book-block select.form-control {
          letter-spacing: 2rem * 0.05;
          font-size: 2rem;

          @include media-breakpoint-up(md) {
            letter-spacing: 3rem * 0.05;
            font-size: 3rem;

            option {
              font-size: 1.4rem !important;
            }
          }
        }

        &:focus {
          border-color: $colors--black;
        }

        &::placeholder {
          color: rgba($colors--black, 0.5);
        }
      }

      .row {
        + .row {
          margin-top: 3rem;
        }
      }

      .title {
        font-family: $ff-sans-serif-2;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 2rem * 0.01;

        + * {
          margin-top: 2rem;
        }

        @include media-breakpoint-up(md) {
          font-size: 3.5rem;
          letter-spacing: 3.5rem * 0.1;

          + * {
            margin-top: 3rem;
          }
        }
      }
    }
  }

  .menu-col {
    background-color: rgba($colors--black, 0.9);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s;

    + * {
      @include media-breakpoint-up(md) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .image-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s;

    figure {
      border: 10px solid rgba($colors--black, 0.9);
    }
  }

  &:not(.is-shown) {
    .menu-col {
      transform: translateX(-55%);
    }

    .image-col {
      transform: translateX(55%);
    }
  }

  .offset-menu {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    color: $colors--white;

    &.right {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;

      > * {
        min-height: 1px;
        width: auto;
        max-width: 100%;

        font-family: $ff-sans-serif;
        font-size: 1.6rem;
        letter-spacing: 1.6rem * 0.05;

        + * {
          margin-left: 2rem;
        }
      }
    }

    &:not(.offset-menu--normal) {
      .offset-menu-item {
        font-weight: 300;
        font-size: 3rem;

        @include media-breakpoint-up(md) {
          font-size: 5rem;
          letter-spacing: 5rem * 0.025;
        }
      }
    }

    &-item {
      position: relative;
      font-family: $ff-serif;
    }

    &-link {
      color: $colors--white !important;

      &.border-bottom-white {
        border-bottom: 5px solid $colors--white;
      }
    }
  }
}
