.half-image-slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  > * {
    position: relative;
    min-height: 1px;
    width: 100%;
    max-width: 100%;
  }

  .half-image {
    &-block {
      @include media-breakpoint-up(md) {
        flex: 0 0 44vw;
        max-width: 44vw;

        + * {
          flex-basis: 0;
          flex: 1;
          max-width: 100%;
        }
      }
    }
  }

  .content-box {
    &_title-block {
      @include media-breakpoint-up(md) {
        padding: 5vw;
      }

      .description-column {
        @include media-breakpoint-up(lg) {
          max-width: 75%;
          margin-left: auto;
          margin-right: 15%;
        }
      }
    }

    &_wrapper {
      position: relative;
      border: 1px solid rgba($colors--white, 0.5);
      padding: 5rem;
      max-width: 65%;
      left: -12.5%;
      transition: all 340ms cubic-bezier(0.16, 0.01, 0.77, 1);
      z-index: 9;
      background-color: rgba($colors--black, 0.65);

      color: $colors--white;

      @include media-breakpoint-up(md) {
        min-height: 25vw;
      }
    }
  }
}
