.main-section {
  position: relative;

  &--white {
    background-color: $colors--white !important;
  }

  &-smonly {
    &--white {
      @include media-breakpoint-down(sm) {
        background-color: $colors--white !important;
      }
    }
  }
}
