@keyframes headerAnim {
  from {
    transform: translateY(-125%);
  }

  to {
    transform: translateY(0);
  }
}

.no-effect-header {
  .header {
    &::before {
      content: none !important;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  background-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-color $duration;

  &:not(.scrolled) {
    > * {
      border-bottom: 1px solid rgba($colors--black, 0.25);
    }
  }

  &.scrolled {
    background-color: $colors--white;
    box-shadow: 0 0 4px rgba($colors--black, 0.5);
  }

  > * {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include media-breakpoint-up(md) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 2;

    @include media-breakpoint-up(md) {
      max-width: 85vw;
      margin-left: auto;
      margin-right: auto;
    }

    .brand {
      position: absolute;
      width: 9rem;
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-up(md) {
        width: 14rem;
      }
    }
  }
}
