.header {
  position: relative;
  box-shadow: 0 0 2px 0 rgba($colors--black, 0.675);
  z-index: 999;

  > * {
    border-color: transparent !important;
  }

  @include media-breakpoint-up(md) {
    background-color: $colors--white;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    > * {
      position: relative;
      z-index: 2;
    }

    + main {
      margin-top: var(--hh);
    }
  }

  @include media-breakpoint-up(md) {
    .menu-trigger-button {
      display: none;
    }
  }

  .brand {
    display: block;
    width: 100%;
    max-width: 10rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    @include media-breakpoint-up(md) {
      max-width: 20rem;
      padding: 0;
    }
  }

  .language {
    + .popovers {
      border-radius: 0;
      padding: 0;

      @include media-breakpoint-down(sm) {
        position: relative;
        right: unset;
        border-color: transparent;

        max-height: 100%;
        transition: max-height $duration;

        &:not(.is-shown) {
          max-height: 0px;
          margin-top: 0;
        }

        .list {
          &-item {
            padding-left: 0 !important;

            &.active {
              border-bottom: 1px solid;
            }
          }
        }
      }

      @include media-breakpoint-up(md) {
        min-width: 275px;
        left: unset;
        border-color: rgba($colors--black, 0.175);
        box-shadow: 2px 4px 2px rgba($colors--black, 0.175);
      }

      .list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        &-item {
          font-family: $ff-serif;
          font-size: 1.5rem;
          padding: 0.75rem;
          transition: background-color $duration, color $duration;

          &:hover {
            background-color: rgba($colors--black, 0.125);

            > * {
              color: $colors--white !important;
            }
          }

          &.active {
            font-weight: bold;
            opacity: 1;

            @include media-breakpoint-up(md) {
              background-color: rgba($colors--black, 0.25);
              color: $colors--white;
            }
          }
        }

        &-link {
          display: block;
        }
      }
    }
  }

  &-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      &-block {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        transition: opacity 350ms;

        &:not(.is-shown) {
          opacity: 0;
          visibility: hidden;
          z-index: -1;

          .header-menu {
            transform: translateX(125%);
          }
        }

        .header-menu {
          position: absolute;
          background-color: $colors--white;
          z-index: 99;
          width: 65vw;
          right: 0;
          top: 0;
          bottom: 0;
          flex-direction: column;
          transition: transform 350ms;
          box-shadow: 0 0 10px 0 rgba($colors--black, 0.675);

          > * {
            padding-left: 2rem;
            font-size: 1.6rem;

            @include media-breakpoint-down(sm) {
              padding-right: 2rem;
            }

            &.heading {
              padding-top: 1.75rem;
              padding-bottom: 1.75rem;
              background-color: rgba($colors--black, 0.0675);
              text-align: center;
              font-size: 1.6rem;
              font-family: $ff-sans-serif-2;
              letter-spacing: 2.4rem * 0.05;
              box-shadow: 0 0 4px 0 rgba($colors--black, 0.675);
            }

            + * {
              margin-top: 1.5rem;
            }
          }
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 0;
          background-color: rgba($colors--black, 0.675);
        }
      }
    }

    > * {
      position: relative;
      min-height: 1px;
      width: 100%;
      max-width: 100%;

      font-size: 1.6rem;
      letter-spacing: 1.6rem * 0.025;
      font-family: $ff-sans-serif-2;

      &.heading {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }

    &-item {
      @include media-breakpoint-up(md) {
        margin-left: 1.4rem;
        flex: 0 0 auto;
        width: auto;
      }
    }
  }
}
