.header {
  position: relative;
  background-color: $colors--white;
  box-shadow: 0 0 2px 0 rgba($colors--black, 0.675);

  .brand {
    display: block;
    width: 100%;
    max-width: 10rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    @include media-breakpoint-up(md) {
      max-width: 12rem;
    }
  }

  @include media-breakpoint-up(md) {
    .menu-trigger-button {
      display: none;
    }
  }

  &-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      &-block {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        transition: opacity 350ms;

        &:not(.is-shown) {
          opacity: 0;
          visibility: hidden;
          z-index: -1;

          .header-menu {
            transform: translateX(125%);
          }
        }

        .header-menu {
          position: absolute;
          background-color: $colors--white;
          z-index: 99;
          width: 65vw;
          right: 0;
          top: 0;
          bottom: 0;
          flex-direction: column;
          transition: transform 350ms;
          box-shadow: 0 0 10px 0 rgba($colors--black, 0.675);

          > * {
            padding-left: 2rem;
            font-size: 1.6rem;

            &.heading {
              padding-top: 2.2rem;
              padding-bottom: 2.2rem;
              background-color: rgba($colors--black, 0.25);
              text-align: center;
              font-size: 2.4rem;
              font-family: $ff-sans-serif-2;
              letter-spacing: 2.4rem * 0.05;
              box-shadow: 0 0 4px 0 rgba($colors--black, 0.675);
            }

            + * {
              margin-top: 1.5rem;
            }
          }
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 0;
          background-color: rgba($colors--black, 0.675);
        }
      }
    }

    > * {
      position: relative;
      min-height: 1px;
      width: 100%;
      max-width: 100%;

      font-size: 1.4rem;
      font-family: $ff-sans-serif;

      &.heading {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }

    &-item {
      @include media-breakpoint-up(md) {
        margin-left: 1.4rem;
        flex: 0 0 auto;
        width: auto;
      }
    }
  }
}
