html {
  @include media-breakpoint-between(md, lg) {
    font-size: 9px;
  }
}

body {
  background-color: $colors--white;
}

.container {
  @include media-breakpoint-up(md) {
    max-width: vw(738, 768);
  }

  @include media-breakpoint-up(lg) {
    max-width: 85vw;
  }
}

.search {
  position: relative;

  .main-search {
    min-height: 100vh;

    > * > * {
      + * {
        padding-top: 2rem;
      }
    }
  }
}

.no-gutters {
  &--only-sm {
    @include media-breakpoint-down(sm) {
      > [class*='col'] {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
      }
    }
  }
}
