html {
  @include media-breakpoint-between(md, lg) {
    font-size: 9px;
  }
}

body {
  background-color: $colors--white;
}

label {
  margin-bottom: 0;
}

.container {
  @include media-breakpoint-up(md) {
    max-width: vw(738, 768);
  }

  @include media-breakpoint-up(lg) {
    max-width: 85vw;
  }

  @media (min-width: 1440px) and (max-width: 1911.99px) {
    max-width: 85vw !important;
  }
}

.search {
  position: relative;

  @include media-breakpoint-down(sm) {
    padding-bottom: var(--rth);
  }

  &-blocks {
    position: relative;

    &--hidden {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .form-row {
      margin-left: -7.5px;
      margin-right: -7.5px;

      @include media-breakpoint-down(sm) {
        > [class*='col'] {
          + [class*='col'] {
            margin-top: 1.5rem;
          }
        }
      }

      > [class*='col'] {
        padding-left: 7.5px;
        padding-right: 7.5px;
      }
    }

    [class*='row'] {
      + [class*='row'] {
        margin-top: 1.5rem;
      }
    }
  }

  .main-search {
    min-height: 100vh;

    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }

    > * {
      &:not(.is-shown) {
        display: none;
      }
    }

    > * > * {
      + * {
        padding-top: 2rem;
      }
    }
  }
}

.no-gutters {
  &--only-sm {
    @include media-breakpoint-down(sm) {
      > [class*='col'] {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
      }
    }
  }
}
